<form method="POST">
    <div>
      <input type="text" class="form-control" placeholder="Username" required="" />
    </div>
    <div>
      <input type="password" class="form-control" placeholder="Password" required="" />
    </div>
    {% csrf_token %}
    <div>
      <button class="btn btn-success" type="submit">Log in</button>
      <button class="btn btn-warning" href="/forgoten">Lost your password?</button>
    </div>
</form>
