{% if user.is_authenticated %}
  <h1>Hi, <code>{{ user.username }}</code> !</h1>
{% else %}
  <h1>Please login first !</h1>
{% include "block/form/login.html" %}
<hr />
{% endif %}
<div class="social">
    <div class="row">
  {% for backend in available_backends|login_backends %}
      <div class="col-md-2">
        {% associated backend %}
        {% if association %}
            <a class="btn btn-success social-manager" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=backend.name %}" title="{{ backend|backend_name }}">
              <i class="fa fa-1x fa-{{ backend|backend_icon }}"></i>
            </a>
            <br class="clearfix"/>
            <a class="btn btn-info pull-left social-configure" name="{{ backend|backend_class }}" href="{% url 'network__view' adapter=backend.name subdomain='connect' %}">
              <i class="fa fa-cogs"></i>
            </a>
            <a class="btn btn-warning pull-right social-dissociate" data-link="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}">
                <i class="fa fa-plug"></i>
            </a>
        {% else %}
            <a class="btn btn-danger connect-button pull-left" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}" title="{{ backend|backend_name }}">
                <i class="fa fa-3x fa-{{ backend|backend_icon }}"></i>
            </a>
        {% endif %}
      </div>
  {% endfor %}
    </div>
</div>

