{% extends "rest/identity/list.html" %}

{% block page_title %}Your Contacts{% endblock %}

{% block heading %}Your Contacts{% endblock %}

{% block dash_title %}
    {% for sublist in available_backends|social_backends %}
        {% for name, backend in sublist %}
            <a class="social-icon pull-left">
                <i class="fa fa-{{ name|icon_name }}"></i>
            </a>
        {% endfor %}
    {% endfor %}
    <span class="pull-left">
        You have 
        <span class="label label-primary">{{ user.timeline|length }} activties</span>, 
        <span class="label label-success">{{ user.contacts|length }} contacts</span>, and
        <span class="label label-warning">{{ user.calendar|length }} events</span>.
    </span>
{% endblock %}

{% block dash_ctrl %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
              </ul>
          </li>
          <li><a class="refresh-link" href="?refresh"><i class="fa fa-refresh"></i></a></li>
{% endblock %}

