{% extends "layouts/blank.html" %}

{% block page_title %}Your Timeline{% endblock %}

{% block heading %}Your Timeline{% endblock %}

{% block dash_title %}
    {% for sublist in available_backends|social_backends %}
        {% for name, backend in sublist %}
            <a class="social-icon pull-left">
                <i class="fa fa-{{ name|icon_name }}"></i>
            </a>
        {% endfor %}
    {% endfor %}
    <span class="pull-left">
        <a class="label label-primary" href="?">
            <i class="fa fa-globe"></i>
            All networks
        </a>
{% for name,number in networks %}
        <a class="label label-success" href="?network={{ name }}">
            <i class="fa fa-{{ name|icon_name }}"></i>
            {{ name|capfirst }} ({{ number }})
        </a>
{% endfor %}
    </span>
{% endblock %}

{% block dash_ctrl %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
              </ul>
          </li>
          <li><a class="refresh-link" href="?refresh"><i class="fa fa-refresh"></i></a></li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
{% include 'rest/identity/facet/timeline.html' %}
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

