{% extends "layouts/listing.html" %}

{% block heading %}List of networks{% endblock %}

{% block header %}
{% if user.is_authenticated %}
  <h1>Hi, <code>{{ user.username }}</code> !</h1>
{% else %}
  <h1>Please login first !</h1>
{% include "block/form/login.html" %}
{% endif %}
    <hr />
<dl class="gridtab-2">
{% endblock %}

{% block footer %}
</dl>
  <div class="clearfix"></div>
  <div class="separator">
      <p class="change_link">New to site?
          <a href="#toregister" class="to_register"> Create Account </a>
      </p>
      <div class="clearfix"></div>
  </div>
{% endblock %}

{% block loop %}
{% for backend in available_backends|social_backends %}
        {% associated backend %}
          <dt>
        {% if association %}
              <i class="fa fa-3x fa-{{ backend|backend_icon }}" style="color: green;"></i>
          </dt>
          <dd>
            <a class="pull-left btn btn-primary" name="{{ backend|backend_class }}" href="{% url 'network__view' adapter=backend.name subdomain='apis' %}">
              <i class="fa fa-cogs"></i>
            </a>
            <form class="pull-right disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">
              {% csrf_token %}
              <a class="btn btn-danger social-dissociate"><i class="fa fa-remove"></i></a>
            </form>
        {% else %}
              <i class="fa fa-2x fa-{{ backend|backend_icon }}" style="color: red;"></i>
          </dt>
          <dd>
            <a class="btn btn-success connect-button pull-left" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=backend.name %}" title="{{ backend|backend_name }}">
                <i class="fa fa-2x fa-plug"></i>
            </a>
        {% endif %}
          </dd>
{% endfor %}
{% endblock %}

{% block script %}
<style>
  h1 { padding: 0 30px; }
  .col-md-2 { width: 18.6667%; }
  .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
             margin: 20px; background: #eee; padding: 30px; }
  .buttons > div a { margin: 5px 10px; }
  .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                     padding-top: 10px; text-align: center; }
  .user-details { text-align: center; font-size: 16px; font-weight: bold; }
  .disconnect-form { padding: 0; margin: 0px 10px; }
  .disconnect-form > a { display: block; margin: 5px 0 !important; }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/gridtab.min.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'css/gridtab-theme.css' %}" media="screen">

<script src="https://plus.google.com/js/client:plusone.js?onload=start" type="text/javascript"></script>
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
<script src="{% static "js/gridtab.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block app %}
    <script type="text/javascript">
$(function () {
  $('.gridtab-2').gridtab({
      grid: 12,
      borderWidth: 1,
      config:{
        layout:'tab'
      },
      responsive: [{
          breakpoint: 1024,
          settings: {
              grid: 8,
          }
      }, {
          breakpoint: 767,
          settings: {
              grid: 6,
          }
      }, {
          breakpoint: 520,
          settings: {
              grid: 4,
          }
      }]
  });
});
    </script>
    <script type="text/javascript">
      function fix_psa_urls(item, field) {
          var target = $(item).attr(field);

          //target = target.replace('uchikoma.xyz','connect.uchikoma.xyz');

          $(item).attr(field, target);
      }

      $('form.disconnect-form').each(function (index,item) {
          fix_psa_urls(item, 'action');
      });

      $('a.connect-button').each(function (index,item) {
          fix_psa_urls(item, 'href');
      });

      var signInCallback = function (result) {
          if (result['error']) {
            alert('An error happened:', result['error']);
          } else {
            $('#code').attr('value', result['code']);
            $('#at').attr('value', result['access_token']);
            $('#google-plus').submit();
          }
      };

      var modalDialog = function (modalId, modalLinkName, submitHandler) {
        var $modal;

        $modal = $(modalId).modal({show: false});

        $modal.on('click', '.btn-primary', submitHandler || function (event) {
          event.preventDefault();
          $modal.find('form').submit();
        });

        if (modalLinkName) {
          $('a[name="' + modalLinkName + '"]').on('click', function (event) {
            event.preventDefault();
            $modal.modal('toggle');
          });
        }

        return $modal;
      };

      $(function () {
        var $validationModal, $emailRequired;

        modalDialog('#livejournal-modal', 'livejournal');
        modalDialog('#openid-modal', 'openid');
        modalDialog('#email-modal', 'email');
        modalDialog('#username-modal', 'username');
        $validationModal = modalDialog('#validation-sent-modal');
        $emailRequired = modalDialog('#email-required-modal');

        modalDialog('#ajax-login-modal', 'ajax-login', function (event) {
          var $backend, $accessToken, $accessTokenSecret, $fields, $result;
          event.preventDefault();

          $modal = $(this).closest('.modal');
          $form = $modal.find('form');
          $backend = $modal.find('[name="backend"]');
          $accessToken = $modal.find('[name="access_token"]');
          $accessTokenSecret = $modal.find('[name="access_token_secret"]');
          $result = $modal.find('.login-result');

          $.get('/ajax-auth/' + $backend.val() + '/', {
            access_token: $accessToken.val(),
            access_token_secret: $accessTokenSecret.val(),
          }, function (data, xhr, response) {
            $result.find('.user-id').html(data.id);
            $result.find('.user-username').html(data.username);
            $form.hide();
            $result.show();
            setTimeout(function () { window.location = '/'; }, 10000);
          }, 'json')
        });

        modalDialog('#persona-modal', 'persona', function (event) {
          var $form;
          event.preventDefault();

          $form = $(this).closest('form');
          navigator.id.get(function (assertion) {
            if (assertion) {
              $form.find('[name="assertion"]').val(assertion)
              $form.submit();
            } else {
              alert('An error occurred while getting your assertion, try again.');
            }
          });
        });

        $('.disconnect-form').on('click', 'a.btn', function (event) {
          event.preventDefault();
          $(event.target).closest('form').submit();
        });

        {% if validation_sent %}
          $validationModal.modal('show');
        {% endif %}

        {% if email_required %}
          $emailRequired.modal('show');
        {% endif %}
      });
    </script>
</body>
{% endblock %}

