{% extends "layouts/blank.html" %}

{% block script %}
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block heading %}My profile{% endblock %}

{% block content %}
<form method="POST">
    {{ form|as_bootstrap }}
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}

