{% extends "layouts/listing.html" %}

{% block script %}
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block heading %}All identities{% endblock %}

{% block header %}
  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <ul class="pagination pagination-split">
      <li><a href="#">A</a></li>
      <li><a href="#">B</a></li>
      <li><a href="#">C</a></li>
      <li><a href="#">D</a></li>
      <li><a href="#">E</a></li>
      <li>...</li>
      <li><a href="#">W</a></li>
      <li><a href="#">X</a></li>
      <li><a href="#">Y</a></li>
      <li><a href="#">Z</a></li>
    </ul>
  </div>
{% endblock %}

{% block overview %}
      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
        <div class="well profile_view">
          <div class="col-sm-12">
            {% if entry.intro %}<h4 class="brief"><i>{{ entry.intro }}</i></h4>{% endif %}
            <div class="left col-xs-7">
              <h2>{{ entry.fullname }}</h2>
              {% if entry.bio %}<p><strong>About: </strong> {{ entry.bio }} </p>{% endif %}
              <ul class="list-unstyled">
                {% if entry.address %}<li><i class="fa fa-envelope"></i> {{ entry.address }}</li>{% endif %}
                {% if entry.location %}<li><i class="fa fa-building"></i> Address: {{ entry.location }}</li>{% endif %}
                {% if entry.phone %}<li><i class="fa fa-phone"></i> Phone #: {{ entry.phone }} </li>{% endif %}
              </ul>
            </div>
            <div class="right col-xs-5 text-center">
              <img src="{{ entry.mugshot }}" alt="" class="img-circle img-responsive" />
            </div>
          </div>
          <div class="col-xs-12 bottom text-center">
            {% if entry.rating %}
            <div class="col-xs-12 col-sm-6 emphasis">
              <p class="ratings">
                <a>4.0</a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star-o"></span></a>
              </p>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-6 emphasis">
              <button type="button" class="btn btn-success btn-xs"><i class="fa fa-comments-o"></i></button>
              <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-user"></i></button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block empty_view %}
{% endblock %}

