<li><a href="{% url 'homepage' subdomain='apis' %}">Homepage</a></li>
<li><a href="{% url 'profile' subdomain='apis' %}">Profile</a></li>
<li><a href="{% url 'settings' subdomain='apis' %}">Settings</a></li>

