{% extends "layouts/blank.html" %}

{% block script %}
<script src="https://login.persona.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block heading %}My settings{% endblock %}

{% block content %}
<form method="POST">
  {{ form.as_p }}
  {% csrf_token %}
  <a class="btn btn-default submit">Valider</a>
</form>
{% endblock %}

