<ul class="messages">
{% for entry in profile.activity %}
    <li>
        <img src="{{ profile.mugshot }}" class="avatar" alt="Avatar">
        <div class="message_date">
            <h3 class="date text-info">24</h3>
            <p class="month">May</p>
        </div>
        <div class="message_wrapper">
            <h4 class="heading">Desmond Davison</h4>
            <blockquote class="message">{{ entry.story }}</blockquote>
            <br />
            <p class="url">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
            </p>
        </div>
    </li>
{% endfor %}
</ul>

