<ul class="list-unstyled timeline">
{% for post in listing %}
    <li>
        <div class="block">
            <div class="tags">
                <a class="tag" href="">
                    <span>{{ post.author.fullname }}</span>
                </a>
            </div>
            <div class="block_content">
                <h2 class="title">
                    <i class="fa fa-{{ post.icon }}"></i>
                    <a>{{ post.story }}</a>
                </h2>
                <div class="byline">
                    <span>{{ post.when|since }}</span> by <a>{{ post.author.name }}</a>
                </div>
                <p class="excerpt">{{ post.text }} ... <a>Read&nbsp;More</a></p>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

